body {
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Hero-Section{
    flex: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(Images/torshov-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: #1D3557;
    border-radius: 10px;
    align-self: flex-start;
    margin: 0 auto;
    padding: 4px 4px;
}

h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.header-2 {
    background-color: #457B9D;
    align-items: flex-start;
    margin: 10px auto;
    width: 75%;
    border-radius: 10px;
    padding: 4px 2px;
}

.header-2 {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.Activities-Section{
    flex: 33.33%;
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
}

.activities-header {
    font-size: 24px;
    font-weight: 700;
    color: #1D3557;

}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 218px;
    padding: 10px 20px 0px 20px;
    justify-content: space-evenly;
   
}

.card {
    padding: 0px 5px 0px 5px;
    width: 150px;
}

.card-img {
    width:100px;
    border-radius: 50%;
}

h3 {
    font-weight: 700px;
    color: #1D3557;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 14px;
    color:#1D3557;
}

.Guide-Section{
    flex: 33.33%;
    display: flex;
    
}

.guide-section-card-container {
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
    width: 400px;
    height: 294px;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: #A8DADC;
    border-bottom: 6px solid #1D3557;
}
.guide-section-left {
    width: 170px;
}
.header2-guide {
    font-family: Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1D3557;
}

.para-guide {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1D3557;
}

.header3-guide {
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1D3557;
}

@media (max-width:720px){
    body {
        width:75%;
    }
}