body {
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
}

.Hero-Section{
    height: 33.33vh;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(Images/torshov-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header{
    background-color: #1D3557;
    border-radius: 10px;
    align-self: flex-start;
    margin: 0 auto;
    padding: 16px 8px;
}

h1 {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.header-2 {
    background-color: #457B9D;
    align-items: flex-start;
    margin: 10px auto;
    width: 75%;
}



.Activities-Section{
    height: 33.33vh;
    border: solid black 2px;
}

.Guide-Section{
    height: 33.33vh;
    border: solid black 2px;
}

@media (max-width:720px){
    body {
        width:75%;
    }
}